@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Saira+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&family=Saira+Semi+Condensed&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #2f3542 url('img/bg.jpg');
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    letter-spacing: 1.2px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin: 0;
}

.play-again {
    padding: 8px 15px;
    border: 0;
    background: #f4f4f4;
    border-radius: 5px;
    margin-top: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 0;
}
footer {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    background-color: #144272;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

@media (max-width:800px) {
    footer {
        font-size: 10px;
        padding: 5px;
    }
    /* .header {
        transform: translateY(20%);
    } */
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

.msg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    font-size: 1.5em;
}

.box {
    border: 1px solid #dedede;
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}
